<app-header></app-header>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList"> 
            <div class="card col-md-3">
                   <img src="{{ item.image }}" alt=""> 
                <h6> {{ item.title }} </h6>
                <p> 
                    <strong>price:</strong> {{ item.price }}$ 
                    <button (click)=addToCart(item) class="btn btn-primary" style="margin-left: 25px"> Add </button>
                </p>
                
            </div>
        </ng-container>
    </div>
</div>