<div class="form-group" style="padding: 100px;" >
    <h2>Log in</h2>
    <form #f="ngForm" >
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control" (change)="onChange(f)" ngModel/>
        </div> 
            <br/>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control" (change)="onChange(f)" ngModel />
        </div>
            <p class="error" *ngIf="errorMesOn"> "Password are not correct" </p>
            <br/>
        
        <button class="btn btn-primary"  name="button" (click)="onClick(f)" type="submit" routerLink="../{{thePath}}" >
            Log in
        </button>
        <a routerLink="signUp" style="margin: 25px;" href="#"><i class="fa fa-fw fa-search"></i> Create an account </a>
    </form>
</div>
